
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
}  

body{
    background-color: rgb(228, 222, 222);
    margin: 0;
    padding: 0;
}

html,body{
    overflow-x: hidden;
}

.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all;
}

.header .logo{
    cursor: pointer;
}

#image{
    background-image: url(/imagenes/Background\ Comanda.jpg);
    background-size: cover;
    background-size: 113%;
    background-position-x: 50%;
    background-position-y: 60%;
    background-color: #ffffff;
    width: 100%;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image2 {
    height: 20em;
    width: auto;
    margin: auto;
    border-radius: 49%;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover,
.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.menu{
    display: none;
}

.header .btn button,
.header .menu button{
    font-weight: 700;
    color:#1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
.header .menu button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}


.enlace{
    background-color: #1b3039;
    border: 2px solid #b7daea;
    border-radius: 15px;
    height: 9em;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3% auto;
    /* padding: 5% auto; */
}

.enlace p{
    color: #e2f1f8;
    text-align: center;
    padding: 2% 0 0 2%;
}

.enlace button{
    width: 12rem;
    margin: auto;
    cursor: pointer;
}

#warning{
    color: #fbff00;
    font-size: small;
    margin: 1em;
}

.subtitulo{
    font-weight: bold;
    font-size: 1.2em;
    margin: 2em;
    text-align: center;
}

p {
    margin: .5em;
    text-align: justify
}

.footer{
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 18em;
    background-color: #1b3039;
    margin-top: 1em;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
    font-weight: bolder;
    font-size: 50px;
  }

  .buttons {
    min-width: 700px;
    display: flex;
    margin: 0 0 0 24.5%;
    padding: 1em;
 }

 .buttons a {
    text-decoration: none;
    font-size: 34px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background:  #314652;
    color:#ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    margin: 1em .5em 0 .5em;
 }

 .buttons a:hover{
    transform: scale(1.2);
    color: #ffbc0e;
    transition: .4s;
 }


 td{
    font-size: .8em;
    padding: .9em;
    text-align: center; 
    border: solid 1px #000000;
    margin: 0;
 }

 table{
    display: flex;
    justify-content: center;
 }

.rayado {
    text-decoration: line-through;
 }

.pedido, .acerca {
    width: 90%;
    margin: auto;
}

.contacto {
    background-color: #b7daea;
    height: auto;
    width: auto;
    display: flex
}

.input-group{
    padding-left: 4em;
    width: 50%;
}

.subtitulo2{
    font-weight: bold;
    font-size: 1.2em;
    margin: 2em 0 2em 3.5em; 
    padding: 1em 0 0 0;
}
    
label {
    font-size: .9em;
    font-weight: 550;
    margin-bottom: .5em;
    display: block;
}

input {
    padding: .4em 1em;
    width: 60%;
    border-radius: 1em;
    margin-bottom: 1em;
    border: 2px solid #f0faf1;
    font-size: .8em;
    text-align: start;
    display: block;
    text-align: center;
}

textarea {
    padding: .8em 1em;
    width: 60%;
    border-radius: 1em;
    margin-bottom: 1em;
    border: 2px solid #f0faf1;
    font-size: .8em;
}

.btn2 {
    display: block;
    width: 35%;
    height: auto;
    font-size: .9em;
    margin: 2em 0 2em 3.5em;
    text-align: center;
    cursor: pointer;
}

.btn2:hover {
    color: #ffbc0e;
    transform: scale(1.1);
    transition: .4s;
    background-color: #314652;

}

.acerca{
    margin-bottom: 3em;
}

.follow-us {
    height: 100vh;
    width: 50%;
}


.mapa {
    margin: 4em 0 0 3em;
}

.subtitulo3 {
        font-weight: bold;
        font-size: 1.2em;
        margin: 2em 0 2em 0; 
}

.copyl{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.creative {
    width: 20%;
    height: auto;
    margin-left: 0;
    margin-top: 6em;
}

#trucazo {
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .nav-links, .btn{
        display: none;
    }
    
    .menu{
        display: inherit;
    }
}

/*Nav*/

.header a{
    text-decoration: none;
}

.header .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #1b3039;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover,
.header .overlay a:focus{
    color: #ffbc0e;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-width:541px){
    
    
    #image2{
        height: 15em;
        
    }

    .enlace {
        width: 100%;
    }

    table{
        margin-left: 0;
        border-spacing: 0px;
    }
    

    tr{
        font-size: 10px;
    }

    td{
        padding: 5px;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
    }

    .header .overlay a{
        font-size: 20px;
    }

    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;

    }
    
    .contacto{
        display: block;
    }

    .subtitulo2{
        margin: 0 0 0 46%;
        padding: 1em 0 1em 0;

    }

    .input-group{
        padding-left: 1.5em;
    }

    input, textarea {
        padding: 0.4em;
        width: 85vw;
        
    }

    .btn2{
        width: 55vw;
    }

    .mapa {
        width: auto;
        margin: 0 25% 0 25%;
    
    }

    .buttons{
        margin-left: 50%;
        padding-top: 1em;
    }

    .contacto{
        height: 260vw;
    }
}
